<div class="col-6">
    <button type="button" class="position2 btn btn-light" onclick="gantiMode()" id ="mode">Seconds Mode</button>
</div>
<script type="text/x-handlebars" data-template-name="index">
<div class="col-6">
    <button type="button" class="position2 btn btn-light" onclick="alertMe()" id='definition'>Alert</button>
</div>
</script>

