<dd.menu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Eniwetok (GMT - 12)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Samoa (GMT - 11)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Honolulue (GMT - 10)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Alaska (GMT - 9)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">California (GMT - 8)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Alberta (GMT - 7)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Mexico City (GMT - 6)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Santiago (GMT - 4)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Ottawa (GMT - 3)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Grytviken (GMT - 2)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Praia (GMT - 1)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">London (GMT)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Vienna (GMT + 1)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Baghad (GMT + 3)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">New Delhi (GMT + 5)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Thimpu (GMT + 6)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Jakarta (GMT + 7)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Beijing (GMT + 8)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Tokyo (GMT + 9)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Hagåtña (GMT + 10)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Honiara (GMT + 11)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Kingston (GMT + 12)</a></menu.item>
    <menu.item><a class="dropdown-item" href="#" onclick = "getText(this)">Your Location</a></menu.item>
  </dd.menu>