<div class="dropdown col-6">
        <button class="position1 btn btn-outline-light dropdown-toggle dropstyle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Select Country
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Eniwetok, Kwaialein (GMT - 12)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Midway Island (GMT - 11)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Hawaii, Honolulue (GMT - 10)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Alaska (GMT - 9)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">America, Los Angeles (GMT - 8)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">America, Alberta (GMT - 7)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Mexico City (GMT - 6)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">America, New York (GMT - 5)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Chilie, Santiago (GMT - 4)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Canada, Ottawa (GMT - 3)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Mid Atlantic (GMT - 2)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">West Africa (GMT - 1)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">British, London (GMT)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Dutch, Amsterdam (GMT + 1)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Greece, Athena (GMT + 2)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Iraq, Baghad (GMT + 3)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">United Arab Emirates, Abu Dhabi (GMT + 4)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">India, New Delhi (GMT + 5)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Bhutan, Thimpu (GMT + 6)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Indonesia, Jakarta (GMT + 7)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">China, Beijing (GMT + 8)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Japan, Tokyo (GMT + 9)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Australia, Melbourne (GMT + 10)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Solomon Island, Honiara (GMT + 11)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">New Zealand, Wellington (GMT + 12)</a></li>
            <li><a class="dropdown-item" href="#" onclick = "getText(this)">Your Location</a></li>
        </ul>
        
    </div>